<style>
  input[type=text], input[type=Number], input[type=email], input[type=password] {

    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  button {
    background-color: darkcyan;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  button:hover {
    opacity: 0.8;
  }
</style>
<div class="container" style="width:800px;
	margin:0 auto;
	border:100px;
	height:100%;
	background-color: transparent;
">
  <div style="background-color:lightgray">
    <h2 style="color:darkcyan">Login</h2>
    <form [formGroup]="LoginForm" (ngSubmit)="onSubmit(LoginForm.value)">
      <fieldset style="background-color:ghostwhite; margin: 10px; padding: 5px;">
        <div class="form-group">
          <label>EmailId</label>
          <input type="email" class="form-control" formControlName="EmailId" >
          <div
            *ngIf="!LoginForm.controls.EmailId?.valid && (LoginForm.controls.EmailId?.dirty ||LoginForm.controls.EmailId?.touched)"
            class="alert alert-danger">
            <div [hidden]="!LoginForm.controls.EmailId.errors.required">
              EmailId is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" formControlName="Password">
          <div
            *ngIf="!LoginForm.controls.Password?.valid && (LoginForm.controls.Password?.dirty ||LoginForm.controls.Password?.touched)"
            class="alert alert-danger">
            <div [hidden]="!LoginForm.controls.Password.errors.required">
              Password is required
            </div>
          </div>
        </div>
        <button type="submit" [disabled]="!LoginForm.valid" class="btn btn-primary" class="col-sm-3">submit</button>
      </fieldset>
      <button type="submit" class="btn btn-primary" (click)="onClick()">New user register here</button>
    </form>
  </div>
</div>
