
<style>
input[type=text], input[type=Number] , input[type=email] ,input[type=password] {

  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
button {
  background-color: darkcyan;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}
</style>
<div style="">
<div class="container" style="width:800px;
	margin:0 auto; border:3px lightgray; background-color:lightgray">
  <h2 style="color:darkcyan">Registration</h2>
  <form method="post" [formGroup] = "UserForm" (ngSubmit)="onSubmit(UserForm.value)">
    <fieldset style="background-color:ghostwhite; padding:5px;">
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" formControlName="Name" #name>
      <div *ngIf="!UserForm.controls.Name?.valid && (UserForm.controls.Name?.dirty ||UserForm.controls.Name?.touched)" class="alert alert-danger">
        <div [hidden]="!UserForm.controls.Name.errors.required && !UserForm.controls.Name.errors.minlength && !UserForm.controls.Name.errors.maxlength">
          Enter the valid name(minimum length 5, max length 25)
          {{contactForm.controls.Name.errors.minlength?.requiredLength}},
          {{contactForm.controls.Name.errors.maxlength?.requiredLength}},
          {{contactForm.controls.Name.errors.required?.name}}
        </div>
      </div>

    </div>
    <div class="form-group">
      <label>PhoneNum</label>
      <input type="Number" class="form-control" formControlName="PhoneNo">
      <div *ngIf="!UserForm.controls.PhoneNo?.valid && (UserForm.controls.PhoneNo?.dirty ||UserForm.controls.PhoneNo?.touched)" class="alert alert-danger">
        <div [hidden]="!UserForm.controls.PhoneNo.errors.required && !UserForm.controls.PhoneNo.errors.maxlength">
          enter valid 10 digit phone number
        </div>
    </div>
    <div class="form-group">
      <label>EmailId</label>
      <input type="email" class="form-control" formControlName="EmailId">
      <div *ngIf="!UserForm.controls.EmailId?.valid && (UserForm.controls.EmailId?.dirty ||UserForm.controls.EmailId?.touched)" class="alert alert-danger">
        <div [hidden]="!UserForm.controls.EmailId.errors.required">
          EmailId is required
        </div>
      </div>
    </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" formControlName="Password" #pwd>
      </div>
      <div *ngIf="!UserForm.controls.Password?.valid && (UserForm.controls.Password?.dirty ||UserForm.controls.Password?.touched)" class="alert alert-danger">
        <div [hidden]="!UserForm.controls.Password.errors.required">
          Password is required
        </div>
      </div>
      <div class="form-group">
        <label>Re-enter Password</label>
        <input type="password" class="form-control" formControlName="ReenterPassword" #conformpwd>
        <div class="alert alert-danger" *ngIf="pwd !== conformpwd">
          check the password you enter
            </div>
        </div>
      </div>
    <!--<div class="form-group">
      <label>Captcha</label>
      <input type="button" id="refresh" value="Refresh" onclick="Captcha();" />
      <input type="text" id="txtInput" class="form-control" formControlName="Captcha">
    </div>-->
    <!--<input type="button" onClick="return nameForm();"value="submit">-->
  <button type="submit" [disabled]="!UserForm.valid" class="btn btn-primary">submit</button>
    </fieldset>
  </form>
</div>
</div>
<script>
  function nameForm()
  {
    alert("called");

    var name = document.forms["UserForm"]["Name"].value;
    var name_patt = /^[a-zA-Z]{3,20}$/;
    var num = document.forms["UserForm"]["mobile"].value;
    var num_patt = /^[789][0-9]{9}$/;
    var password = document.forms["UserForm"]["password"].value;
    var repassword = document.forms["UserForm"]["repassword"].value;
    console.log("before validation");
    var pwd_patt = /^[a-zA-Z]{5,}$/;
    if (!name_patt.test(name)) {
      alert("enter the valid name");
      //return false;
    }
    if (!num_patt.test(num)) {
      alert("enter the valid mobile number");
      // return false;
    }
    if(!gender){
      alert("choose the gender");

    }
    if (!pwd_patt.test(password)) {
      alert("enter the valid password");
      //return false;
    }
    if (pwd_patt.test(password))
    {
      if (password != repassword)
      {
        alert("password is not matched");
        return false;
        console.log("password is not matched");
      }
      console.log("password is  matched");
    }
    if(! ValidCaptcha())
    {
      alert(ValidCaptcha());
      return false;
    }
    return true;
    $("table").hide();
    console.log("hided");
    return true;


  }
</script>
<script type="text/javascript">
  function Captcha(){
    var alpha = new Array('A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z','a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z');
    var i;
    for (i=0;i<6;i++){
      var a = alpha[Math.floor(Math.random() * alpha.length)];
      var b = alpha[Math.floor(Math.random() * alpha.length)];
      var c = alpha[Math.floor(Math.random() * alpha.length)];
      var d = alpha[Math.floor(Math.random() * alpha.length)];
      var e = alpha[Math.floor(Math.random() * alpha.length)];
      var f = alpha[Math.floor(Math.random() * alpha.length)];
      var g = alpha[Math.floor(Math.random() * alpha.length)];
    }
    var code = a + ' ' + b + ' ' + ' ' + c + ' ' + d + ' ' + e + ' '+ f + ' ' + g;
    document.getElementById("mainCaptcha").value = code
  }
  function ValidCaptcha(){
    var string1 = removeSpaces(document.getElementById('mainCaptcha').value);
    var string2 = removeSpaces(document.getElementById('txtInput').value);
    if (string1 == string2){
      return true;
    }
    else{
      return false;
    }
  }
  function removeSpaces(string){
    return string.split(' ').join('');
  }
</script>

