
<style>
input[type=text], input[type=Number] , input[type=email] ,input[type=password] {

  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
button {
  background-color: darkcyan;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}
</style>
<div style="">
<div class="container" style="width:800px;
	margin:0 auto; border:3px lightgray; background-color:lightgray">
  <h2 style="color:darkcyan">Registration</h2>
  <form method="post" [formGroup] = "UserForm" (ngSubmit)="onSubmit(UserForm.value)">
    <fieldset style="background-color:ghostwhite; padding:5px;">
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" formControlName="Name" #name>
      <div *ngIf="!UserForm.controls.Name?.valid && (UserForm.controls.Name?.dirty ||UserForm.controls.Name?.touched)" class="alert alert-danger">
        <div [hidden]="!UserForm.controls.Name.errors.required && !UserForm.controls.Name.errors.minlength && !UserForm.controls.Name.errors.maxlength">
          Enter the valid name(minimum length 5, max length 25)
          {{contactForm.controls.Name.errors.minlength?.requiredLength}},
          {{contactForm.controls.Name.errors.maxlength?.requiredLength}},
          {{contactForm.controls.Name.errors.required?.name}}
        </div>
      </div>

    </div>
    <div class="form-group">
      <label>PhoneNum</label>
      <input type="Number" class="form-control" formControlName="PhoneNo">
      <div *ngIf="!UserForm.controls.PhoneNo?.valid && (UserForm.controls.PhoneNo?.dirty ||UserForm.controls.PhoneNo?.touched)" class="alert alert-danger">
        <div [hidden]="!UserForm.controls.PhoneNo.errors.required && !UserForm.controls.PhoneNo.errors.maxlength">
          enter valid 10 digit phone number
        </div>
        <div [hidden]="!UserForm.controls.PhoneNo.errors.pattern">
        phone number must contain only 10 digits and start with either 7 or 8 or 9
        </div>
    </div>
    <div class="form-group">
      <label>EmailId</label>
      <input type="email" class="form-control" formControlName="EmailId">
      <div *ngIf="!UserForm.controls.EmailId?.valid && (UserForm.controls.EmailId?.dirty ||UserForm.controls.EmailId?.touched)">
        <div [hidden]="!UserForm.controls.EmailId.errors.required"  class="alert alert-danger">
          please enter mail id
        </div>
        <div [hidden]="!UserForm.controls.EmailId.errors.pattern"  class="alert alert-danger">
          please enter valid mail id
        </div>
      </div>
    </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" formControlName="Password" #pwd>
      </div>
      <div *ngIf="!UserForm.controls.Password?.valid && (UserForm.controls.Password?.dirty ||UserForm.controls.Password?.touched)" class="alert alert-danger">
        <div [hidden]="!UserForm.controls.Password.errors.required">
          Password is required
        </div>
          <div [hidden]="!UserForm.controls.Password.errors.pattern">
           password must contain atleast one letter and one number must not contain any special charecters
          </div>
      </div>
      <div class="form-group">
        <label>Re-enter Password</label>
        <input type="password" class="form-control" formControlName="ReenterPassword" #conformpwd>
        <div class="alert alert-danger" *ngIf="pwd.value !== conformpwd.value">
          check the password you enter
            </div>
        </div>
      </div>
  <button type="submit" [disabled]="!UserForm.valid" class="btn btn-primary">submit</button>
    </fieldset>
  </form>
</div>
</div>
