<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Categories</title>
</head>
<body>
<h2>Categories</h2>
<div class="container">
  <div class="" >
    <div class="panel-group" class="col-sm-4"  *ngFor="let product of products">
      <div class="panel panel-default" (click)="onClick(product)">
        <div class="panel-heading">{{product.productName }}</div>
        <div class="panel-body" >
          <div><img src="{{product.image}}"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<div class="container">
  <div class="row" >
    <div class="panel-group" class="col-sm-4" *ngFor="let example of examples">
      <div class="panel panel-default" (click)="onClick(example)">
        <div class="panel-heading">id</div>
        <div class="panel-body" >{{example.id }}</div>
      </div>
    </div>
  </div>
</div>-->
</body>
</html>


