navbar-brand{
  background-color: lightblue;
}
.navbar-default {
  background-color: #343436;
  border-color: #e7e7e7;
  color: aliceblue;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
  color:lightblue;
}
